<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FlashCard.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Taal Trek Lite.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0A780F9D2DF0528600F71F44</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A780FAA2DF0528700F71F44</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A780FB42DF0528700F71F44</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC837CB92E21585A00F8A51E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
